<IfModule mod_rewrite.c>
RewriteEngine On

# Para que los archivos estáticos no se vean afectados
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Establezco mi punto de entrada y la nomenclatura que voy a usar con un parámetro adicional
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?([0-9]+)?$ index.php?controller=$1&action=$2&param=$3 [L,QSA]

# Redirige a la raíz si se accede a index.php directamente
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ / [R=301,L]

# Página de error personalizada
ErrorDocument 404 /Errors/not_found
</IfModule>
